 /*styling the scroll bar */

	::-webkit-scrollbar
	{
		width:2px;
	}
	
	::-webkit-scrollbar-thumb
	{
		background:#ffcc00;
		border-radius:4px;
	}
		/*end of styling scroll bar */

footer .jumbotron-fluid
{
	background:#231616;
	padding:1%;
	border-top:0.1px solid lightgrey;
}
.jumbotron-fluid h5
{
	color:white;

}

.card
{
	background:transparent;
}

body
{
	background:black;

}

.card-header a
{
	font-size:18px;
	font-weight:550;
	color:#ff1e56;
}

.card-header a:hover
{
	color:red;
	text-decoration: none;
}

.post_user_link
{
	color:#d10c40;
	background:transparent;
	border:none;
	outline:none;
	font-weight:600;
	position:relative;
	right:6px;
	bottom:8px;
	font-size:24px;
}
.post_user_link:hover
{
	color:#e01111;
	text-decoration:underline;
}
.post_user_link_2
{
	color:#FFE607;
	background:transparent;
	border:none;
	outline:none;
	font-weight:600;
	position:relative;
	right:6px;
	bottom:8px;
	font-size:22px;
}
.post_user_link_2:hover
{
	color:#FFCC00;
	text-decoration:underline;
}

img
{
	object-fit: contain;
}

@media only screen and (max-width:765px)
{
	#blg_container
	{
		width:100%;
	}
	#blg_image
	{
		width:100%;
		height:100%;
	}
}


@media only screen and  (min-width:766px)  and (max-width:986px)
{
	#blg_container
	{
		width:75%;
	}
	#blg_image
	{
		width:73%;
		height:52%;
	}
}

@media only screen and  (min-width:987px)  and (max-width:1086px)
{
	#blg_container
	{
		width:70%;
	}
	#blg_image
	{
		width:71%;
		height:51%;
	}
}

@media only screen and (min-width:1087px)
{
	#blg_container
	{
		width:68%;
	}
	#blg_image
	{
		width:68%;
		height:50%;
	}
}

#blg_image
{
	position:relative;
	left:50%;
	transform:translateX(-50%);
}


@media only screen and (max-width:990px)
{
	#img_modal_dialog
	{
		position:relative;
		top:50%;
		transform: translateY(-50%);
	}
}


